
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 260px;
    position: relative;
}

.middle-container {
  padding-top: 10px;
}
.bottom-container {

}

.bottom-cloud {
  position: absolute;
  top: 500px;
  left: 200px;

}

.top-cloud {
  position: absolute;
  top: 180px;
  right: 300px;
}

#selfie {
  height: 100px;
  width: 100px;
}
